.container {
  height: 100%;
  padding: 0;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.disabled {
  display: none;
}
.sortBox {
  display: flex;
  width: 600px;
  justify-content: space-around;
  align-items: center;
}
.btn {
  display: inline-block;
  box-sizing: border-box;
  padding: 0 20px;
  outline: none;
  border: none;
  border-radius: 6px;
  height: 40px;
  text-decoration: none;
  color: #385898;
  background-color: #e7f3ff;
  cursor: pointer;
  user-select: none;
  appearance: none;
  touch-action: manipulation;
}
.btn:hover {
  background-color: #dbe7f2;
}
.btn:active {
  transform: scale(0.96);
}
.btnActive {
  font-weight: 600;
  background-color: #cbe0f4;
}
