.container {
  height: 100%;
  padding: 0;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.disabled {
  display: none;
}
.sortBox {
  display: flex;
  width: 600px;
  justify-content: space-around;
  align-items: center;
}
.btn {
  display: inline-block;
  box-sizing: border-box;
  padding: 0 20px;
  outline: none;
  border: none;
  border-radius: 6px;
  height: 40px;
  border: solid gray 1px;
  background-color: #fff;
  text-decoration: none;
  color: black;

  cursor: pointer;
  user-select: none;
  appearance: none;
  touch-action: manipulation;
}
.btn:hover {
  background-color: #edf5fd;
}

.btnActive {
  font-weight: 600;
  color: #2668a9;
  background-color: #edf5fd;
}
