.container {
  text-decoration: none;
  padding: 20px;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  width: 900px;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  cursor: pointer;
  color: black;
  transition: box-shadow 0.25s ease;

  box-shadow: 0 2px 5px rgba(26, 26, 26, 0.3), 0 6px 10px rgba(29, 28, 28, 0.1);
}
.container:hover {
  box-shadow: 0 2px 15px rgba(26, 26, 26, 0.3), 0 6px 10px rgba(29, 28, 28, 0.1);
}
.name {
  max-width: 90px;
}
.theme {
  max-width: 500px;
}
.tags {
  max-width: 120px;
  align-items: center;
  justify-content: center;
  background-color: #edf5fd;
  border-radius: 10px;
  padding: 6px;
  margin: 2px;
  color: #2668a9;
}
.box {
  width: 190px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
